[c2_task]
task_name = c2-http_MM_dd_YYYY_HH_mm
agent_name = 1w2x3y4z

[portscan]
Enable = True
Module = powershell/situational_awareness/network/portscan
AllformatsOut = 
ExcludeHosts = 
GrepOut = 
HostFile = 
Hosts = 
Open = 
OutputFunction = 
PingOnly = 
Ports = 
ReadableOut = 
SkipDiscovery = 
TopPorts = 
XmlOut = 

[reverse_dns]
Enable = True
Module = powershell/situational_awareness/network/reverse_dns
CIDR = 
OutputFunction = 
Range = 

[get_domain_controller]
Enable = True
Module = powershell/situational_awareness/network/powerview/get_domain_controller
Domain = 
Server = 
LDAP = 

[get_domain_policy]
Enable = True
Module = powershell/situational_awareness/network/powerview/get_domain_policy
Policy = Domain
Domain = 
Server = 
ServerTimeLimit = 

[bloodhound]
Enable = True
Module = powershell/situational_awareness/network/bloodhound
CollectionMethod = Default
Threads = 20
Throttle = 1000
CSVFolder = 
CSVPrefix = 
ComputerADSpath = 
ComputerName = 
Domain = 
DomainController = 
GlobalCatalog = 
SearchForest = 
SkipGCDeconfliction = 
URI = 
UserADSPath = 
UserPass = 

[user_hunter]
Enable = True
Module = powershell/situational_awareness/network/powerview/user_hunter
ComputerName = 
ComputerLDAPFilter = 
ComputerSearchBase = 
ComputerOperatingSystem = 
ComputerServicePack = 
ComputerSiteName = 
UserGroupIdentity = 
UserIdentity = 
UserDomain = 
UserLDAPFilter = 
UserAllowDelegation = 
UserAdminCount = 
UserSearchBase = 
StopOnSuccess = 
CheckAccess = 
Delay = 
Domain = 
Server = 
SearchScope = 
ResultPageSize = 
ServerTimeLimit = 
Tombstone = 
Jitter = 
Stealth = 
StealthSource = 
ShowAll = 
Threads = 

[find_localadmin_access]
Enable = True
Module = powershell/situational_awareness/network/powerview/find_localadmin_access
ComputerName = 
ComputerDomain = 
ComputerLDAPFilter = 
ComputerSearchBase = 
ComputerOperatingSystem = 
ComputerServicePack = 
ComputerSiteName = 
CheckShareAccess = 
Server = 
SearchScope = 
ResultPageSize = 
ServerTimeLimit = 
Tombstone = 
