[c2_task]
task_name = c2_server_MM_dd_YYYY_HH_mm
agent_name = 1w2x3y4z

[portscan]
Enable = True
Module = powershell/situational_awareness/network/portscan
AllformatsOut = 
ExcludeHosts = 
GrepOut = 
HostFile = 
Hosts = 
Open = 
OutputFunction = 
PingOnly = 
Ports = 
ReadableOut = 
SkipDiscovery = 
TopPorts = 
XmlOut = 
completion_string = " completed"

[reverse_dns]
Enable = True
Module = powershell/situational_awareness/network/reverse_dns
CIDR = 
OutputFunction = 
Range = 
completion_string = " completed"

[share_finder]
Enable = True
Module = powershell/situational_awareness/network/powerview/share_finder
ComputerName = 
ComputerLDAPFilter = 
ComputerSearchBase = 
ComputerOperatingSystem = 
ComputerServicePack = 
ComputerSiteName = 
CheckShareAccess = 
Server = 
SearchScope = 
ResultPageSize = 
ServerTimeLimit = 
Tombstone = 
Delay = 
Jitter = 
Threads = 
completion_string = " completed"

[get_domain_controller]
Enable = True
Module = powershell/situational_awareness/network/powerview/get_domain_controller
Domain = 
Server = 
LDAP = 
completion_string = " completed"

[get_domain_policy]
Enable = True
Module = powershell/situational_awareness/network/powerview/get_domain_policy
Policy = Domain
Domain = 
Server = 
ServerTimeLimit = 
completion_string = " completed"

[bloodhound]
Enable = True
Module = powershell/situational_awareness/network/bloodhound
CollectionMethod = Default
Threads = 20
Throttle = 1000
CSVFolder = 
CSVPrefix = 
ComputerADSpath = 
ComputerName = 
Domain = 
DomainController = 
GlobalCatalog = 
SearchForest = 
SkipGCDeconfliction = 
URI = 
UserADSPath = 
UserPass = 
completion_string = " completed"
