[c2_task]
listener_type = http_malleable
listener_profile = sofacy
listener_port = 80
listener_tls = no
domain_name = None
cert_subj = /C=US/ST=Utah/L=Lehi/O=Your Company, Inc./OU=IT/CN=$HOST

[remote_ad_task]
task_name = remote_trainman_ad
ad_tld = local
ad_domain = samdom
ad_realm = SAMDOM.LOCAL
user_name = jdisco
user_password = user_password_152637
admin_password = samdom_password_152637

[remote_c2_agent_task]
task_name = remote_trainman_agent
