[c2_task]
task_name = c2-http_MM_dd_YYYY_HH_mm
agent_name = 1w2x3y4z

[antivirusproduct]
Enable = True
Module = powershell/situational_awareness/host/antivirusproduct
ComputerName = 
completion_string = " completed"

[dnsserver]
Enable = True
Module = powershell/situational_awareness/host/dnsserver
completion_string = " completed"

[get_proxy]
Enable = True
Module = powershell/situational_awareness/host/get_proxy
ComputerName = 
completion_string = " completed"

[get_uaclevel]
Enable = True
Module = powershell/situational_awareness/host/get_uaclevel
completion_string = " completed"

[winenum]
Enable = True
Module = powershell/situational_awareness/host/winenum
Keywords = 
UserName = 
completion_string = " completed"
