[c2_task]
listener_port = 80
listener_tls = False
domain_name = None
cert_subj = /C=US/ST=Utah/L=Lehi/O=Your Company, Inc./OU=IT/CN=$HOST

[http_server_task]
http_port = 80
tls = False
domain_name = None
cert_subj = /C=US/ST=Utah/L=Lehi/O=Your Company, Inc./OU=IT/CN=$HOST
